.discover {
  background-image: url('/images/blob1.svg');
}
.videos {
  background-image: url('/images/blob2.svg');
}
.articles {
  background-image: url('/images/blob3.svg');
}
.feedback {
  background-image: url('/images/blob4.svg');
}
.job {
  background-image: url('/images/blob5.svg');
}
