.background-container {
	position: relative;
	margin-bottom: 10%;
}

.videos-and-articles-container {
	background-image: url('images/Rainbow-Background.png');
	background-repeat: no-repeat;
}
.article-title {
	color: #259af3;
}

.video-title {
	color: #1da09c;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 2.8em;
}

.chrome-title {
	color: #1da09c;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 2.8em;
}
