.CodeMirror {
    min-height: 100%;
    min-width: 100%;
    /* margin: 0px; */
    /* padding-bottom: 10px; */
}

.CodeMirror-scroll {
}

.CodeMirror-vscrollbar {
    padding-bottom: 10px !important;
}

.viewport-height {
    /* height: calc(100vh - 70px); */
    height: 100vh;
}

.submit-area {
    background-color: black;
}

.header-area {
    background-color: #f9fbfd;
}
