.CodeMirror {
    height: 100% !important;
    width: 100% !important;
}

.viewport-height {
    /* height: calc(100vh - 70px); */
    height: 100vh;
}

.submit-area {
    background-color: black;
}

.header-area {
    background-color: #f9fbfd;
}
