.code-along-container {
	background-color: #2a2a3a;
	color: #0a0a10;
	text-align: center;
}

.code-along-title {
	color: #f5f5f5;
}

.code-along-description {
	color: #dddddd;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 1.4em;
}
