.header-bg-mobile {
  background-image: url('/images/Header-Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75%;
  width: auto;
  background-position: center center;
}

.header-container-mobile {
  position: relative;
  top: 12%;
}